/* Indsat Poppins text */
@font-face {
    font-family: "Poppins";
    src: url("Poppins/Poppins-Thin.ttf");
  }

/* Indsat Poppins text til siden */
* {
    box-sizing: border-box;
    margin: auto;
    font-family: Poppins;
    font-weight: bold;
  }
  
/* Baggroundsfarve for hjemmesiden */
body {
    background-color: #807070;
}  

.section {
    width: 100%;
}

/* Header design */
.header {
    text-align: center;
    background: #8CAE89;
    font-size: 30px;
    height: 75px;
  }

  /* Ikoner der deler fælles design */
.header-icons {
    width: 100%;
}

.hero {
    text-align: center;
    background: white;
    font-size: 30px;
    height: 390px;
}

.genbrug {
    text-align: center;
    background: #807070;
    font-size: 30px;
    height: 553px;
}

.udvalgt {
    text-align: center;
    background: white;
    font-size: 30px;
    height: 476px;
}

.matrialer {
    text-align: center;
    background: #807070;
    font-size: 30px;
    height: 390px;
}

.certificeringer {
    text-align: center;
    background: #807070;
    font-size: 30px;
    height: 172px;
}

.mærker {
    text-align: center;
    background: #EBE8DF;
    font-size: 30px;
    height: 262px;
}

.undermenuer {
    text-align: center;
    background: #EBE8DF;
    font-size: 30px;
    height: 176px;
}

.footer {
    text-align: center;
    background: #8CAE89;
    font-size: 305px;
    height: 305px;
}